.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #B9BBBA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.App-main {
  position: relative;
  width: 300px;
  min-height: 550px;
  background-color: #fff;
  text-align: left;
  padding: 10px;
  box-shadow: 5px 5px 8px #d1d1d1;
  -webkit-box-shadow: 5px 7px 8px -3px rgba(0,0,0,0.34);
  -moz-box-shadow: 5px 7px 8px -3px rgba(0,0,0,0.34);
}

/* General Formatting */

h2 {
  font-weight: normal;
  font-size: 1.2em;
  padding-left: 40px;
}

h5 {
  margin-top: 10px;
  font-size: .6em;
  text-align: center;
}

h6 {
  margin-top: -15px;
  font-size: .55em;
  font-weight: normal;
  color: #393939;
  text-align: center;
}

/* Menu Footer Stylings */

.Menu-footer {
  display: flex;
  justify-content: center;
  width: 300px;
}

.Col-1 {
  width: 33%;
  padding: 5px;
}

.Col-2 {
  width: 33%;
  padding: 5px;
  text-align: center;
}

.Col-3 {
  width: 33%;
  padding: 5px;
  text-align: right;
}

/* Task-specific Formatting */

.Tasks {
  min-height: 430px;
}

.Completed-tasks {
  text-decoration: line-through;
}

.Image-container {
  justify-content: center;
  display: flex;
}

.Image-splash {
  margin-top: 50px;
  width: 70%;
}

.Text-container {
  display: block;
}

/* Add Task */

.Add-task-overlay {
  width: 300px;
  height: 550px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  background-color: black;
  z-index: 5000;
  display: block;
}
