.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #B9BBBA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.App-main {
  width: 340px;
  min-height: 550px;
  background-color: #fff;
  text-align: left;
  padding: 10px
}

h2 {
  font-weight: normal;
  font-size: 1.2em;
  padding-left: 50px;
}

h5 {
  margin-top: 10px;
  font-size: .6em;
  text-align: center;
}

h6 {
  margin-top: -15px;
  font-size: .55em;
  font-weight: normal;
  color: #393939;
  text-align: center;
}

.Completed-tasks {
  text-decoration: line-through;
}

.Image-container {
  justify-content: center;
  display: flex;
}

.Image-splash {
  margin-top: 50px;
  width: 70%;
}

.Text-container {
  display: block;
}
